.places {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.places_title {
    font-size: 30px;
    text-align: left;
}

.all_article {
    display:flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}

article h2 {
    font-size: 30px;
}
